.image {
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10%;
  margin-left: 35%;
}

.image:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  wodth: 80%;
  max-width: 700px;
}
/*Caption of Modal Image*/
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/*Animation*/
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* Close Button*/
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens*/
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
