@keyframes popup {
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

html {
  overflow: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #363732;
  background-image: radial-gradient(circle at top left, #4c5252, #303431 50%);
}
.history {
  width: 100vh;
  height: 100vw;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: right top;
  transform: rotate(-90deg) translate3d(0, -100vh, 0);
}
.history > * {
  transform-origin: left top;
}
.timeline {
  position: absolute;
  top: 0px;
  left: -440px;
  width: 100vh;
  height: 100vw;
  transform: rotate(90deg) translate3d(0, -100vh, 0);
  z-index: 1;
}
.timeline .line {
  margin-top: 33px;
  margin-left: 2px;
  height: 3px;
}
.timeline .line.line-html {
  width: 13720px;
}
.bg-html {
  background-color: #ffffff;
}
.dates {
  position: absolute;
  top: 0;
  left: -270px;
  padding: 0;
  width: 100vh;
  height: 100vw;
  transform: rotate(90deg) translate3d(0, -100vh, 0);
}
.dates div {
  position: absolute;
  display: inline-block;
  color: #999;
  font-family: "Play", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-left: -44px;
  top: 12px;
  bottom: 0;
}
.timeline_point {
  position: absolute;
  top: 0px;
  left: -466.5px;
  width: 100vh;
  height: 100vw;
  transform: rotate(90deg) translate3d(0, -100vh, 0);
  z-index: 1;
  padding: 0;
}
.timeline_point div {
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  color: white;
}
.point {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}
.dates div:before {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0;
  width: 1px;
  background: #666;
  left: 45px;
}
/* bottom */
.point_bottom {
  position: absolute;
  left: 8px;
  top: -43px !important;
  height: 49px;
  width: 1px;
  border-style: dotted;
  border-width: 1px;
  color: white;
}
.bottom_big_year {
  position: absolute;
  left: -3px;
  top: -145px !important;
  font-size: 36px;
}
.bottom_month {
  font-size: 16px;
  position: absolute;
  left: 100px;
  top: -135px !important;
}
.bottom_event {
  font-size: 16px;
  position: absolute;
  left: -7px;
  top: -96px !important;
}
/* top */
.point_top {
  position: absolute;
  left: 8px;
  top: 10px !important;
  height: 49px;
  width: 1px;
  border-style: dotted;
  border-width: 1px;
  color: white;
}
.top_big_year {
  position: absolute;
  left: -3px;
  top: 87px !important;
  font-size: 36px;
}
.top_month {
  font-size: 16px;
  position: absolute;
  left: 100px;
  top: 98px !important;
}
.top_event {
  font-size: 16px;
  position: absolute;
  left: -7px;
  top: 135px !important;
}
/* 1967 */
.timeline_point .year_1967 {
  left: 440px;
}
/* 1969_1 */
.timeline_point .year_1969_1 {
  left: 615px;
}
/* 1969_2 */
.timeline_point .year_1969_2 {
  left: 827px;
}
/* 1969_3 */
.timeline_point .year_1969_3 {
  left: 1070px;
}
/* 1970_1 */
.timeline_point .year_1970_1 {
  left: 1340px;
}
/* 1970_2 */
.timeline_point .year_1970_2 {
  left: 1620px;
}
/* 1971 */
.timeline_point .year_1971 {
  left: 1900px;
}
/* 1974 */
.timeline_point .year_1974 {
  left: 2150px;
}
/* 1977 */
.timeline_point .year_1977 {
  left: 2520px;
}
/* 1978_1 */
.timeline_point .year_1978_1 {
  left: 2800px;
}
/* 1978_2 */
.timeline_point .year_1978_2 {
  left: 3030px;
}
/* 1978_3 */
.timeline_point .year_1978_3 {
  left: 3250px;
}
/* 1979_1 */
.timeline_point .year_1979_1 {
  left: 3500px;
}
/* 1979_2 */
.timeline_point .year_1979_2 {
  left: 3750px;
}
