@keyframes popup {
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

html {
  /* overflow: hidden; */
  font-family: "Noto Sans JP", sans-serif;
}
body {
  /* overflow-x: hidden;
  overflow-y: auto; */
  background-color: #363732;
  font-family: "Noto Sans JP", sans-serif;
  background-image: radial-gradient(circle at top left, #4c5252, #303431 50%);
}
@media screen and (max-width: 768px) {
  html {
    overflow: visible;
  }
}
.history {
  width: 100vh;
  height: 100vw;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: right top;
  transform: rotate(-90deg) translate3d(0, -100vh, 0);
}

.history > * {
  transform-origin: left top;
}
.timeline {
  position: absolute !important;
  top: -26px !important;
  left: -320px;
  width: 100vh;
  height: 100vw;
  z-index: 1;
}
.timeline .line {
  margin-top: 33px;
  margin-left: 2px;
  height: 3px;
}
.timeline .line.line-html {
  width: 24920px;
}
.bg-html {
  background-color: #ffffff;
}
.dates {
  position: absolute;
  top: 0;
  left: -270px;
  padding: 0;
  width: 100vh;
  height: 100vw;
  transform: rotate(90deg) translate3d(0, -100vh, 0);
}
.dates div {
  position: absolute;
  display: inline-block;
  color: hsl(0, 0%, 60%);
  font-family: "Play", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-left: -44px;
  top: 12px;
  bottom: 0;
}
.timeline_point {
  position: absolute;
  top: 0px;
  left: -346.5px;
  width: 100vh;
  height: 100vw;
  transform: rotate(90deg) translate3d(0px, -100vh, 0);
  padding: 0;
}
.timeline_point > div {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
}
.point {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
}
.dates div:before {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0;
  width: 1px;
  background: #666;
  left: 45px;
}
/* bottom */
.point_bottom {
  position: absolute;
  left: 8px;
  top: -43px !important;
  height: 49px;
  width: 1px;
  border-style: dotted;
  border-width: 1px;
  color: white;
}
.bottom_big_year {
  position: absolute;
  left: -3px;
  top: -155px !important;
  font-size: 36px;
}
.bottom_month {
  font-size: 16px;
  position: absolute;
  left: 100px;
  top: -139px !important;
}
.bottom_event {
  font-size: 16px;
  position: absolute;
  left: -7px;
  top: -99px !important;
}
/* top */
.point_top {
  position: absolute;
  left: 8px;
  top: 10px !important;
  height: 49px;
  width: 1px;
  border-style: dotted;
  border-width: 1px;
  color: white;
}
.top_big_year {
  position: absolute;
  left: -3px;
  top: 87px !important;
  font-size: 36px;
}
.top_month {
  font-size: 16px;
  position: absolute;
  left: 100px;
  top: 104px !important;
}
.top_event {
  font-size: 16px;
  position: absolute;
  left: -7px;
  top: 142px !important;
}
/* 1967 */
.timeline_point .year_1967 {
  left: 440px;
}
.menu_img {
  position: absolute !important;
  top: -293px !important;
  left: 58px;
}
.menu_img img {
  width: 301px;
  height: 651px;
}
/* 1969_1 */
.timeline_point .year_1969_1 {
  left: 615px;
}
/* 1969_2 */
.timeline_point .year_1969_2 {
  left: 827px;
}
/* 1969_3 */
.timeline_point .year_1969_3 {
  left: 1070px;
}
/* 1970_1 */
.timeline_point .year_1970_1 {
  left: 1340px;
}
/* 1970_2 */
.timeline_point .year_1970_2 {
  left: 1620px;
}
/* 1971 */
.timeline_point .year_1971 {
  left: 1900px;
}
/* 1974 */
.timeline_point .year_1974 {
  left: 2150px;
}
/* 1977 */
.timeline_point .year_1977 {
  left: 2520px;
}
/* 1978_1 */
.timeline_point .year_1978_1 {
  left: 2800px;
}
/* 1978_2 */
.timeline_point .year_1978_2 {
  left: 3030px;
}
/* 1978_3 */
.timeline_point .year_1978_3 {
  left: 3250px;
}
/* 1979_1 */
.timeline_point .year_1979_1 {
  left: 3500px;
}
/* 1979_2 */
.timeline_point .year_1979_2 {
  left: 3750px;
}

.year_1974_img {
  position: absolute;
  z-index: -1000;
  top: -253px !important;
  left: 2100px;
}
.year_1974_img img {
  width: 503px;
  height: 531px;
  filter: grayscale(100%) brightness(0.4);
}
.year_1974_img_1 {
  position: absolute !important;
  top: 48px !important;
  left: 2418px;
}
.year_1974_img_1 img {
  width: 243px;
  height: 255px;
}
.timeline_top {
  font-size: 16px;
  position: absolute;
  top: -305px !important;
  left: 443px;
  display: flex;
}
.timeline_top div:nth-child(2) {
  left: 49px;
  top: 1px;
}
.timeline_top div:nth-child(3) {
  left: 75px;
  top: 1px;
}
.section1_year {
  position: absolute;
  top: -266px !important;
  left: 434px;
}
.section1_year p:nth-child(1) {
  font-size: 46px;
}
.section1_year_bottom {
  font-size: 16px;
  position: absolute;
  top: -188px !important;
  left: 455px;
}
.section1_year_bottom_1 {
  font-size: 16px;
  position: absolute;
  top: -188px !important;
  left: 572px;
}
.section1_year_intro {
  position: absolute;
  font-size: 25px;
  top: -248px !important;
  left: 750px;
}
.section1_year_intro_1 {
  position: absolute;
  font-size: 16px;
  top: -205px !important;
  left: 787px;
}
.timeline_mouse {
  position: absolute;
  top: 349px !important;
  left: 441px;
}
.timeline_mouse p {
  display: inline-block;
  position: absolute;
  top: 0px !important;
  left: 33px;
  font-size: 16px;
}
.timeline_mouse img[alt="path5"] {
  display: inline-block;
  position: absolute;
  top: 3px !important;
  left: 96px;
}
.footer_menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 200px;
  background-color: white;
}
.footer_first {
  margin-left: 333px;
  margin-top: 57px;
}
.logo img {
  width: 168px;
  height: 50px;
}
.reserverd {
  margin-top: 31px;
}
.logo {
  position: relative;
}
.logo:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 60px;
  background-color: #c8c8c8;
  top: -3px;
  left: 217px;
}
.footer_button_group {
  position: absolute;
  top: 58px;
  left: 608px;
  font-size: 16px;
  display: flex;
}
.footer_button_group div:nth-child(1) {
  margin-right: 30px;
}
.footer_button_group div p {
  display: inline-block;
  padding: 15px 60px 12px 70px;
  background-color: #eeeeee;
  border-radius: 30px;
  position: relative;
  white-space: nowrap;
}
.footer_button_group div p::after {
  position: absolute;
  content: ">";
  font-size: 16px;
  top: 15px;
  left: 47px;
}
.logo_last {
  position: absolute;
  top: 45px;
  left: 1114px;
  display: flex;
}
.logo_last div:nth-child(1) {
  margin-right: 30px;
}
.logo_last div img {
  width: 200px;
  height: 68px;
}
/* .foreground_year_1974_img {
  width: 603px;
  height: 631px;
  position: absolute;
  top: -325px !important;
  left: 2097px;
  z-index: -99;
  background-color: #363732;
  opacity: 30%;
} */
/* 2 section */
.timeline_point .year_1981_1 {
  left: 4303px;
}
.timeline_point .year_1981_2 {
  left: 4541px;
}
.timeline_point .year_1981_3 {
  left: 4780px;
}
.timeline_point .year_1983_1 {
  left: 5234px;
}
.timeline_point .year_1983_2 {
  left: 5447px;
}
.timeline_point .year_1983_3 {
  left: 5665px;
}
.timeline_point .year_1984_1 {
  left: 5891px;
}
.timeline_point .year_1984_2 {
  left: 6112px;
}
.timeline_point .year_1984_3 {
  left: 6349px;
}
.timeline_point .year_1984_4 {
  left: 6588px;
}
.timeline_point .year_1984_5 {
  left: 6842px;
}
.timeline_point .year_1984_6 {
  left: 7088px;
}
.timeline_point .year_1985_1 {
  left: 7361px;
}
.timeline_point .year_1985_2 {
  left: 7719px;
}
.timeline_point .year_1986 {
  left: 7986px;
}
.timeline_point .year_1987_1 {
  left: 8259px;
}
.timeline_point .year_1987_2 {
  left: 8527px;
}
.timeline_point .year_1988 {
  left: 8787px;
}
.timeline_point .year_1989_1 {
  left: 9055px;
}
.timeline_point .year_1989_2 {
  left: 9293px;
}
.timeline_point .year_1989_3 {
  left: 9511px;
}
.timeline_point .year_1990 {
  left: 9737px;
}
.section_2_year {
  position: absolute !important;
  top: -281px !important;
  left: 0px;
}
.section_2_from_to {
  font-size: 46px;
}
.first_year_ex {
  position: absolute !important;
  top: 66px !important;
  left: 18px;
  font-size: 16px;
}
.second_year_ex {
  position: absolute !important;
  top: 65px !important;
  left: 147px;
  font-size: 16px;
}
.explain_1 {
  position: absolute !important;
  top: 17px !important;
  left: 299px;
  font-size: 26px;
}
.explain_2 {
  position: absolute !important;
  top: 66px !important;
  left: 329px;
  font-size: 16px;
}
.year_1981_1_img {
  position: absolute !important;
  top: 61px !important;
  left: -92px;
}
.year_1981_1_img img {
  width: 214px;
  height: 214px;
}
.year_1981_2_img {
  position: absolute !important;
  top: 169px !important;
  left: -8px;
  font-size: 16px;
}
.year_1981_2_img img {
  width: 159px;
  height: 178px;
}
.year_1981_3_img {
  position: absolute !important;
  top: 107px !important;
  left: 105px;
  font-size: 16px;
}
.year_1981_3_img img {
  width: 280px;
  height: 184px;
}
.year_1983_1_img {
  position: absolute !important;
  top: -249px !important;
  left: -171px;
  font-size: 16px;
}
.year_1984_3_img {
  position: absolute !important;
  top: -300px !important;
  left: 380px;
}
.year_1984_3_img img {
  width: 745px;
  height: 607px;
  filter: grayscale(100%) brightness(0.4);
}
.year_1985_1_img {
  position: absolute !important;
  top: 45px !important;
  left: -30px;
  font-size: 16px;
}
.year_1985_1_img img {
  width: 306px;
  height: 250px;
}
.year_1988_img {
  position: absolute !important;
  top: 177px !important;
  left: 0px;
  font-size: 16px;
}
.year_1988_img img {
  width: 250px;
  height: 188px;
}
.year_1989_1_img {
  position: absolute !important;
  top: -276px !important;
  left: -115px;
  font-size: 16px;
}

.year_1988_img_1 {
  position: absolute !important;
  top: 0px !important;
  left: 0px;
  z-index: -99;
}
.year_1989_1_1_img {
  position: absolute;
  top: -300px !important;
  left: 8965px;
}
.year_1989_1_1_img img {
  width: 844px;
  height: 603px;
  filter: grayscale(100%) brightness(0.4);
}
.year_1988 {
  z-index: 99;
}
/* //2 section */

/* section3 */
.timeline_point .year_1991 {
  left: 10128px;
}
.timeline_point .year_1994 {
  left: 10310px;
}
.timeline_point .year_1997_1 {
  left: 10525px;
}
.timeline_point .year_1997_2 {
  left: 10754px;
}
.timeline_point .year_1998_1 {
  left: 11263px;
}
.timeline_point .year_1998_2 {
  left: 11592px;
}
.timeline_point .year_1998_3 {
  left: 11794px;
}
.timeline_point .year_1998_4 {
  left: 11979px;
}
.timeline_point .year_1998_5 {
  left: 12184px;
}
.timeline_point .year_1999 {
  left: 12449px;
}
.timeline_point .year_2000 {
  left: 12733px;
}
.timeline_point .year_2001 {
  left: 12986px;
}

.section_3_year {
  position: absolute !important;
  top: -281px !important;
  left: 10128px;
}
.section_3_from_to {
  font-size: 46px;
}
.first_year_ex {
  position: absolute !important;
  top: 66px !important;
  left: 18px;
  font-size: 16px;
}
.second_year_ex {
  position: absolute !important;
  top: 65px !important;
  left: 147px;
  font-size: 16px;
}
.explain_1 {
  position: absolute !important;
  top: 17px !important;
  left: 299px;
  font-size: 26px;
}
.explain_2 {
  position: absolute !important;
  top: 66px !important;
  left: 329px;
  font-size: 16px;
}
.year_1997_2_img {
  position: absolute !important;
  top: 174px !important;
  left: 0px;
  font-size: 16px;
}
.year_1997_2_img img {
  width: 153px;
  height: 218px;
}
.year_1997_2_img p {
  display: inline-block;
  position: absolute !important;
  top: 131px !important;
  left: 173px;
}
.year_1998_1_img {
  position: absolute !important;
  top: 77px !important;
  left: -42px;
  font-size: 16px;
}
.year_1998_1_img img {
  width: 335px;
  height: 229px;
}
.year_1998_1_background {
  position: absolute !important;
  top: -266px !important;
  left: 11094px;
  z-index: -9999;
}
.year_1998_1_background img {
  width: 755px;
  height: 516px;
  filter: grayscale(100%) brightness(0.4);
}
/* //section3 */

/* section4 */
.timeline_point .year_2002 {
  left: 13373px;
}
.timeline_point .year_2003 {
  left: 13624px;
}
.timeline_point .year_2004 {
  left: 13857px;
}
.timeline_point .year_2006 {
  left: 14153px;
}
.timeline_point .year_2007_1 {
  left: 14400px;
}
.timeline_point .year_2007_2 {
  left: 14604px;
}
.timeline_point .year_2007_3 {
  left: 14813px;
}
.timeline_point .year_2008_1 {
  left: 15054px;
}
.timeline_point .year_2008_2 {
  left: 15318px;
}
.timeline_point .year_2009 {
  left: 15590px;
}
.timeline_point .year_2010 {
  left: 15898px;
}
.timeline_point .year_2011_1 {
  left: 16234px;
}
.timeline_point .year_2011_2 {
  left: 16445px;
}
.timeline_point .year_2011_3 {
  left: 16859px;
}
.timeline_point .year_2011_4 {
  left: 17156px;
}
.timeline_point .year_2011_5 {
  left: 17345px;
}
.timeline_point .year_2012 {
  left: 17620px;
}
.timeline_point .year_2013 {
  left: 17855px;
}
.timeline_point .year_2014 {
  left: 18104px;
}
.timeline_point .year_2015_1 {
  left: 18357px;
}
.timeline_point .year_2015_2 {
  left: 18644px;
}
.timeline_point .year_2016_1 {
  left: 18967px;
}
.timeline_point .year_2016_2 {
  left: 19180px;
}

.section_4_year {
  position: absolute !important;
  top: -281px !important;
  left: 13373px;
}
.section_4_from_to {
  font-size: 46px;
}
.first_year_ex {
  position: absolute !important;
  top: 66px !important;
  left: 18px;
  font-size: 16px;
}
.second_year_ex {
  position: absolute !important;
  top: 65px !important;
  left: 147px;
  font-size: 16px;
}
.explain_1 {
  position: absolute !important;
  top: 17px !important;
  left: 299px;
  font-size: 26px;
}
.explain_2 {
  position: absolute !important;
  top: 66px !important;
  left: 329px;
  font-size: 16px;
}
.year_2006_img {
  position: absolute !important;
  top: 182px !important;
  left: 0px;
  font-size: 16px;
}
.year_2006_img img {
  width: 290px;
  height: 180px;
}
.background_year_2006 {
  position: absolute !important;
  top: -276px !important;
  left: 14329px;
  z-index: -9999;
}
.background_year_2006 img {
  width: 851px;
  height: 563px;
  filter: grayscale(100%) brightness(0.4);
}
.year_2009_1_img {
  position: absolute !important;
  top: 215px !important;
  left: -157px;
  font-size: 16px;
}
.year_2009_1_img img {
  width: 210px;
  height: 150px;
}
.year_2009_2_img {
  position: absolute !important;
  top: 213px !important;
  left: 111px;
  font-size: 16px;
}
.year_2009_2_img img {
  width: 210px;
  height: 150px;
}
.year_2010_img {
  position: absolute !important;
  top: -226px !important;
  left: 49px;
  font-size: 16px;
}
.year_2010_img img {
  width: -246px;
  height: 163px;
}
.year_2010_special {
  left: 8px;
  top: -226px !important;
  height: 238px;
}
.bottom_2010_special {
  position: absolute !important;
  top: -338px !important;
  left: 0px;
}
.bottom_2010_month_special {
  position: absolute !important;
  top: -321px !important;
  left: 110px;
}
.bottom_2010_event_special {
  position: absolute !important;
  top: -284px !important;
  left: 0px;
}
.year_2011_1_1_img {
  position: absolute !important;
  top: 187px !important;
  left: -88px;
  font-size: 16px;
}
.year_2011_1_1_img img {
  width: 210px;
  height: 150px;
}

.year_2011_1_2_img {
  position: absolute !important;
  top: 187px !important;
  left: 210px;
  font-size: 16px;
}
.year_2011_1_2_img img {
  width: 210px;
  height: 150px;
}

.year_2011_1_3_img {
  position: absolute !important;
  top: 187px !important;
  left: 522px;
  font-size: 16px;
}
.year_2011_1_3_img img {
  width: 210px;
  height: 150px;
}
.year_2012_img {
  position: absolute !important;
  top: -291px !important;
  left: 17685px;
  z-index: -9999;
}
.year_2012_img img {
  width: 940px;
  height: 628px;
  filter: grayscale(100%) brightness(0.4);
}
.year_2015_img {
  position: absolute !important;
  top: 176px !important;
  left: 59px;
  font-size: 16px;
}
.year_2015_img img {
  width: 276px;
  height: 184px;
}
/* //section4 */

/* section5 */
.timeline_point .year_2020_1 {
  left: 19807px;
}
.timeline_point .year_2020_2 {
  left: 20069px;
}
.timeline_point .year_2020_3 {
  left: 20322px;
}
.timeline_point .year_2020_4 {
  left: 20557px;
}
.timeline_point .year_2020_5 {
  left: 20803px;
}
.timeline_point .year_2020_6 {
  left: 21048px;
}
.timeline_point .year_2021_1 {
  left: 21342px;
}
.timeline_point .year_2021_2 {
  left: 21602px;
}
.timeline_point .year_2021_3 {
  left: 21880px;
}
.timeline_point .year_2022_1 {
  left: 22110px;
}
.timeline_point .year_2022_2 {
  left: 22328px;
}
.timeline_point .year_2022_3 {
  left: 22663px;
}
.timeline_point .year_2023 {
  left: 22951px;
}

.section_5_year {
  position: absolute !important;
  top: -281px !important;
  left: 19807px;
}
.section_5_from_to {
  font-size: 46px;
}
.first_year_ex {
  position: absolute !important;
  top: 66px !important;
  left: 18px;
  font-size: 16px;
}
.second_year_ex {
  position: absolute !important;
  top: 65px !important;
  left: 147px;
  font-size: 16px;
}
.explain_1 {
  position: absolute !important;
  top: 17px !important;
  left: 299px;
  font-size: 26px;
}
.explain_2 {
  position: absolute !important;
  top: 66px !important;
  left: 329px;
  font-size: 16px;
}
.year_2020_1_img {
  position: absolute !important;
  top: 63px !important;
  left: -207px;
  font-size: 16px;
}
.year_2020_1_img img {
  width: 308px;
  height: 206px;
}
.background_year_2020 {
  position: absolute !important;
  top: -54px !important;
  left: 19767px;
  z-index: -9999;
}
.background_year_2020 img {
  width: 641px;
  height: 463px;
  filter: grayscale(100%) brightness(0.4);
}
.year_2021_1_img {
  position: absolute !important;
  top: 189px !important;
  left: -148px;
  font-size: 16px;
}
.year_2021_1_img img {
  width: 170px;
  height: 145px;
}
.year_2021_2_img {
  position: absolute !important;
  top: 189px !important;
  left: 64px;
  font-size: 16px;
}
.year_2021_2_img img {
  width: 170px;
  height: 145px;
}
.year_2021_3_img {
  position: absolute !important;
  top: 186px !important;
  left: 280px;
  font-size: 16px;
}
.year_2021_3_img img {
  width: 170px;
  height: 145px;
}
.year_2021_4_img {
  position: absolute !important;
  top: 189px !important;
  left: 510px;
  font-size: 16px;
}
.year_2021_4_img img {
  width: 170px;
  height: 145px;
}

.year_2022_3_img {
  position: absolute !important;
  top: 208px !important;
  left: 0px;
  font-size: 16px;
}
.year_2022_3_img img {
  width: 180px;
  height: 145px;
}
.point_bottom_2022_2_special {
  top: -207px !important;
  height: 209px;
}
.event_2022_2_special {
  top: -270px !important;
}
.year_2022_2_special {
  top: -327px !important;
}
.month_2022_2_special {
  top: -311px !important;
}
.year_2022_2_img {
  position: absolute !important;
  top: -175px !important;
  left: 43px;
  font-size: 16px;
}
.year_2022_2_img img {
  width: 250px;
  height: 110px;
}
.year_2023_1_img {
  position: absolute !important;
  top: 58px !important;
  left: 55px;
  font-size: 16px;
}
.year_2023_1_img img {
  width: 206px;
  height: 181px;
}
.year_2023_1_1_img {
  position: absolute !important;
  top: -299px !important;
  left: 395px;
  font-size: 16px;
}
.year_2023_1_1_img img {
  width: 341px;
  height: 227px;
}
.year_2023_1_2_img {
  position: absolute !important;
  top: -299px !important;
  left: 799px;
  font-size: 16px;
}
.year_2023_1_2_img img {
  width: 341px;
  height: 227px;
}
.year_2023_1_3_img {
  position: absolute !important;
  top: 71px !important;
  left: 397px;
  font-size: 16px;
}
.year_2023_1_3_img img {
  width: 341px;
  height: 227px;
}
.year_2023_1_4_img {
  position: absolute !important;
  top: 71px !important;
  left: 804px;
  font-size: 16px;
}
.year_2023_1_4_img img {
  width: 341px;
  height: 227px;
}
/* //section5 */

/* //sp */
.container_sp {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 370px;
  color: white;
}
.top_menu img {
  width: 100%;
  height: auto;
}
.section1_intro {
  text-align: center;
}
.section1_intro div:nth-child(1) {
  margin-top: 27px;
  font-size: 40px;
}
.section1_intro div:nth-child(2) {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1_intro div:nth-child(2) div:nth-child(1) {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  margin-right: 88px;
}
.section1_intro div:nth-child(3) {
  font-size: 30px;
  margin-bottom: 6.5px;
  margin-top: 20px;
}
.section1_intro div:nth-child(4) {
  font-size: 17px;
  margin-bottom: 40px;
}
.section1_timeline {
  border-left: 2px solid white;
  height: 2390px;
  margin-top: 20px;
}
.point_sp {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: -10px;
  background-color: white;
}
.left_dash_line {
  border-top: 1px dashed white;
  width: 40px;
  position: absolute;
  top: 10px;
  left: 0px;
}
.year_point {
  font-size: 36px;
  position: absolute;
  top: -19px;
  left: 56px;
}
.year_point_small {
  font-size: 12px;
  position: absolute;
  top: 1px;
  left: 150px;
}
.year_point_content {
  font-size: 15px;
  position: absolute;
  top: 39px;
  left: 58px;
}
.section1_timeline > div {
  position: relative;
  height: 150px;
}
.year_1977_img_pc {
  position: absolute !important;
  top: 51px !important;
  left: -40px;
  font-size: 16px;
}
.year_1977_img_pc img {
  width: 243px;
  height: 255px;
}
.year_1977_img {
  position: absolute !important;
  top: 120px !important;
  left: 58px;
  font-size: 16px;
}
.year_1977_img img {
  width: 243px;
  height: 255px;
}

.year_1977_sp {
  height: 500px !important;
}
/* section2 */
.section2_timeline {
  border-left: 2px solid white;
  height: 4740px;
  margin-top: 20px;
}
.section2_timeline > div {
  height: 150px;
  position: relative;
}
.year_1981_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1981_1_sp {
  height: 400px !important;
}
.year_1981_2_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1981_2_sp {
  height: 400px !important;
}
.year_1981_3_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1981_3_sp {
  height: 400px !important;
}
.year_1983_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1983_1_sp {
  height: 400px !important;
}
.year_1985_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1985_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1985_1_sp {
  height: 410px !important;
}
.year_1988_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1988_sp_img img {
  width: 250px;
  height: auto;
}
.year_1988_sp {
  height: 400px !important;
}
/* section3 */
.section3_timeline {
  border-left: 2px solid white;
  height: 2210px;
  margin-top: 20px;
}
.section3_timeline > div {
  height: 150px;
  position: relative;
}
.year_1997_2_sp {
  height: 400px !important;
}
.year_1997_2_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_1998_1_sp {
  height: 330px !important;
}
.year_1997_2_sp {
  height: 450px !important;
}
.year_1998_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 91px;
  left: 58px;
}
.year_1998_1_sp_img img {
  width: 250px;
  height: auto;
}
/* section4 */
.section4_timeline {
  border-left: 2px solid white;
  height: 5510px;
  margin-top: 20px;
}
.section4_timeline > div {
  height: 150px;
  position: relative;
}
.year_2006_sp {
  height: 330px !important;
}
.year_2006_sp_img {
  font-size: 16px;
  position: absolute;
  top: 104px;
  left: 58px;
}
.year_2006_sp_img img {
  width: 250px;
  height: auto;
}
.year_2009_sp {
  height: 700px !important;
}
.year_2009_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 130px;
  left: 58px;
}
.year_2009_2_sp_img {
  font-size: 16px;
  position: absolute;
  top: 400px;
  left: 58px;
}
.year_2010_sp {
  height: 400px !important;
}
.year_2010_sp_img {
  font-size: 16px;
  position: absolute;
  top: 134px;
  left: 58px;
}
.year_2011_2_sp {
  height: 190px !important;
}
.year_2011_1_sp {
  height: 1000px !important;
}
.year_2011_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 134px;
  left: 58px;
}
.year_2011_2_sp_img {
  font-size: 16px;
  position: absolute;
  top: 421px;
  left: 58px;
}
.year_2011_3_sp_img {
  font-size: 16px;
  position: absolute;
  top: 699px;
  left: 58px;
}
.year_1981_3_sp_img img{
  width: 250px;
  height: auto;
}
.year_2015_1_sp {
  height: 400px !important;
}
.year_2015_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 118px;
  left: 58px;
}
/* section5 */
.section5_timeline {
  border-left: 2px solid white;
  height: 5114px;
  margin-top: 20px;
}
.section5_timeline > div {
  height: 150px;
  position: relative;
}
.year_2021_1_sp {
  height: 180px !important;
}
.year_2020_1_sp {
  height: 350px !important;
}
.year_2020_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 125px;
  left: 58px;
}
.year_2020_1_sp_img img {
  width: 250px;
  height: auto;
}
.year_2022_2_sp {
  height: 350px !important;
}
.year_2022_2_sp_img {
  font-size: 16px;
  position: absolute;
  top: 125px;
  left: 58px;
}
.year_2022_3_sp {
  height: 400px !important;
}
.year_2022_3_sp_img {
  font-size: 16px;
  position: absolute;
  top: 125px;
  left: 58px;
}
.year_2021_2_sp {
  height: 1150px !important;
}
.year_2021_2_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 97px;
  left: 58px;
}
.year_2021_2_2_sp_img {
  font-size: 16px;
  position: absolute;
  top: 351px;
  left: 58px;
}
.year_2021_2_3_sp_img {
  font-size: 16px;
  position: absolute;
  top: 606px;
  left: 58px;
}
.year_2021_2_4_sp_img {
  font-size: 16px;
  position: absolute;
  top: 901px;
  left: 58px;
}
.year_2023_sp {
  height: 1420px !important;
}
.year_2023_sp_img {
  font-size: 16px;
  position: absolute;
  top: 97px;
  left: 58px;
}
.year_2023_1_sp_img {
  font-size: 16px;
  position: absolute;
  top: 374px;
  left: 58px;
}
.year_2023_1_sp_img img {
  width: 250px;
  height: auto;
}
.year_2023_2_sp_img img {
  width: 250px;
  height: auto;
}
.year_2023_3_sp_img img {
  width: 250px;
  height: auto;
}
.year_2023_4_sp_img img {
  width: 250px;
  height: auto;
}
.year_2023_2_sp_img {
  font-size: 16px;
  position: absolute;
  top: 637px;
  left: 58px;
}
.year_2023_3_sp_img {
  font-size: 16px;
  position: absolute;
  top: 902px;
  left: 58px;
}
.year_2023_4_sp_img {
  font-size: 16px;
  position: absolute;
  top: 1165px;
  left: 58px;
}
.year_1983_1_sp img {
  width: 250px;
  height: auto;
}
.year_1985_1_sp_img img {
  width: 250px;
  height: auto;
}
